@media (min-width: 375px) and (max-width: 1079px){
    .body{
        background: rgb(250, 250, 250);
        width: 100%;
        height: 100%;
    }
    .img{
        border-radius: 50%;
        max-width: 100%;
        height: auto;
    }
    .main{
        height: 350px; 
        margin-top: 10px;
        position: relative;
        font-size: medium;
        text-align: center;
    }
    .Super {
        height: 250px;
        width: 350px;
        background: rgb(255, 255, 255); 
        margin-top: 15px; 
        margin-left: 1.8em;
        border-radius: 5px 5px 10px 10px; 
        box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.4); 
        border-top: 5px solid rgb(74, 252, 208);
    }
    .Builder{
        height: 250px;
        width: 350px;
        background: rgb(255, 255, 255); 
        margin-top: 10px; 
        border-radius: 5px 5px 10px 10px; 
        box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.4); 
        border-top: 5px solid rgb(255, 0, 0);
    }
    .Karma {
        height: 250px;
        width: 350px;
        background: rgb(255, 255, 255); 
        margin-top: 15px; 
        border-radius: 5px 5px 10px 10px; 
        box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.4); 
        border-top: 5px solid rgb(252, 219, 74);
    }
    .Calculator {
        height: 250px;
        width: 350px;
        background: rgb(255, 255, 255); 
        margin-top: 15px;
        margin-left: 1.8em;
        border-radius: 5px 5px 10px 10px; 
        box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.4); 
        border-top: 5px solid rgb(31, 90, 255);
    }
    .attribution { 
        font-size: 11px; 
        text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
}
@media (min-width: 1080px){
    .body{
        background: rgb(250, 250, 250);
        width: 100%;
        height: 100%;
    }
    .img{
        border-radius: 50%;
        max-width: 100%;
        height: auto;
    }
    .main{
        height: 350px; 
        margin-top: 50px;
        position: relative;
        font-weight: 400;
        font-size: medium;
        text-align: center;
    }
    .Super {
        height: 250px;
        width: 350px;
        background: rgb(255, 255, 255); 
        margin-top: 15px; 
        border-radius: 5px 5px 10px 10px; 
        box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.4); 
        border-top: 5px solid rgb(74, 252, 208);
    }
    .Builder{
        height: 250px;
        width: 350px;
        background: rgb(255, 255, 255); 
        margin-top: 15px; 
        border-radius: 5px 5px 10px 10px; 
        box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.4); 
        border-top: 5px solid rgb(255, 0, 0);
    }
    .Karma {
        height: 250px;
        width: 350px;
        background: rgb(255, 255, 255); 
        margin-top: 15px; 
        border-radius: 5px 5px 10px 10px; 
        box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.4); 
        border-top: 5px solid rgb(252, 219, 74);
    }
    .Calculator {
        height: 250px;
        width: 350px;
        background: rgb(255, 255, 255); 
        margin-top: 15px; 
        border-radius: 5px 5px 10px 10px; 
        box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.4); 
        border-top: 5px solid rgb(31, 90, 255);
    }
    .attribution { 
        font-size: 11px; 
        text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
}