#map {
    height: 700px;
    width: 100%;
}
.imagem {
    width: 100px;
    z-index: -5;
}
.containermain {
    display: flex;
    position: absolute;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 300px;
    background-image: url(imagens/pattern-bg.png);
}
.IP {
    top: 100px;
    position: center;
}
.intIP {
    position: absolute;
    border-radius: 15px 0 0 15px;
    height: 17%;
    width: 60%;
    top: 30%;
}
.btn {
    position: absolute;
    border-radius: 0 15px 15px 0;
    right: 15%;
    width: 15%;
    height: 25%;
    background-color: black;
    cursor: pointer;
    top: 30.5%;
}
.btn:active {
    background: rgb(48, 48, 48);
}
h3 {
    font-family: 'Times New Roman', serif;
    font-weight: 25px;
    font-size: 30px;
}
.containerip{ 
    display: flex;
    position: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 65%;
    height: 45%;
    background-color: rgb(202, 202, 202);
    border-radius: 20px;
    left: 20%;
    top: 20%;
    font-family: 'Times New Roman', serif;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.212);
    z-index: 1;
}
h1{
    font-family: 'Times New Roman', serif;
    color: rgba(0, 0, 0, 0.384);
    font-size: 10%;
}
.endereço{
    border-right: 0px;
    position: center;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}