$negro: rgb(17, 17, 17);
$blanco: rgb(254, 254, 254);
$grisOscuro: rgb(34, 34, 34);
$grisClaro: rgb(200, 200, 200);
$grisClaroHover: rgb(172, 171, 171);
$azul: rgb(62, 96, 233);
$azulHover: rgb(37, 75, 230);
$verde: rgb(29, 180, 137);
$red: rgb(220, 65, 76);
$facebook: rgb(25, 143, 245);
$twitter: rgb(28, 160, 242);
$instagram1:rgb(253, 196, 104);
$instagram2: rgb(223, 73, 150);
$youtube: rgb(196, 3, 42);
$sombraDark: 10px 10px 20px rgba(170,170,170,.16);
$sombraLight: 10px 10px 20px rgba(0,0,0,.16);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #F1F1F1;
	font-family: 'Times New Roman', Times, serif;
	transition: .3s ease all;
	&.dark {
		background: $negro;
	}
}
.row {
	display: flex;
	padding: 40px 0;
}
.container {
	max-width: 1440px;
	min-width: 375px;
	width: 90%;
	margin: auto;
	padding: 50px 0;
}
.Main_media h1{
	margin-left: 2em;
    font-size: 300%;
    margin-bottom:5%;
	color: $negro;
	body.dark & {
		color: $blanco;
	}
}
.Main_media h3{
	margin-left: 4em;
    font-size: 150%;
    margin-bottom:5%;
    color:rgb(139, 151, 198);
}
.Dark_mode{
	margin-top: 30px;
	margin-left: 10em;
	max-width: 1440px;
	min-width: 400px;
	color: $negro;
	body.dark & {
		color: $blanco;
	}
}
.facebook{
	width: 250px;
	height: 200px;
	margin-left: 6em;
    color: $negro;
    border-radius: 10px;
	background-color: $grisClaro;
	margin-bottom: 2em;
	border-top: 5px solid $facebook;
	body.dark & {
		color: $blanco;
		background-color: $grisOscuro;
	}
	h3{
    	position: absolute;
		margin-left: 3em;
		margin-bottom: 3em;
	}
	h1{
		position: absolute;
		margin-left: 2em;
		margin-top: .6em;
	}
	h4{
		position: absolute;
		margin-left: 2em;
		margin-top: 3.5em;
	}
	h5{
    	position: absolute;
		margin-left: 6em;
		margin-top: 4em;
    	color: $verde;
	}
	svg{
    	position: relative;
    	margin-top: 3.6em;
		margin-left: 4em;
		body.dark & {
			color: $blanco;
		}
	}
}
.twitter{
    width: 250px;
	height: 200px;
	margin-left: 1.5em;
    color: $negro;
    border-radius: 10px;
	background-color: $grisClaro;
	border-top: 5px solid $twitter;
	body.dark & {
		color: $blanco;
		background-color: $grisOscuro;
	}
	h3{
    	position: absolute;
		margin-left: 3em;
		margin-bottom: 3em;
	}
	h1{
		position: absolute;
		margin-left: 2em;
		margin-top: .6em;
	}
	h4{
		position: absolute;
		margin-left: 2em;
		margin-top: 3.5em;
	}
	h5{
		position: absolute;
		margin-left: 6em;
		margin-top: 4em;
		color: $verde;;
	}
	svg{
		position: relative;
    	margin-top: 3.6em;
		margin-left: 4em;
		body.dark & {
			color: $blanco;
		}
	}
}
.instagram{
    width: 250px;
	height: 200px;
	margin-left: 1.5em;
    color: $negro;
    border-radius: 10px;
	background-color: $grisClaro;
	border-top: 5px solid $instagram1;
	body.dark & {
		color: $blanco;
		background-color: $grisOscuro;
		border-top: 5px solid $instagram2;
	}
	h3{
    	position: absolute;
		margin-left: 2em;
		margin-bottom: 3em;
	}
	h1{
		position: absolute;
		margin-left: 2em;
		margin-top: .6em;
	}
	h4{
		position: absolute;
		margin-left: 2em;
		margin-top: 3.5em;
	}
	h5{
		position: absolute;
		margin-left: 6em;
		margin-top: 4em;
		color: $verde;;
	}
	svg{
		position: relative;
    	margin-top: 3.6em;
		margin-left: 4em;
		body.dark & {
			color: $blanco;
		}
	}
}
.youtube{
    width: 250px;
	height: 200px;
	margin-left: 1.5em;
    color: $negro;
    border-radius: 10px;
	background-color: $grisClaro;
	border-top: 5px solid $youtube;
	body.dark & {
		color: $blanco;
		background-color: $grisOscuro;
	}
	h3{
    	position: absolute;
		margin-left: 3em;
		margin-bottom: 3em;
	}
	h1{
		position: absolute;
		margin-left: 2em;
		margin-top: .6em;
	}
	h4{
		position: absolute;
		margin-left: 2em;
		margin-top: 3.5em;
	}
	h5{
		position: absolute;
		margin-left: 6em;
		margin-top: 4em;
		color: $verde;;
	}
	svg{
		position: relative;
    	margin-top: 3.6em;
		margin-left: 4em;
		body.dark & {
			color: $blanco;
		}
	}
}




.Overview{
	color: $negro;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 150%;
	h1{
		margin-left: 2em;
	}
	body.dark & {
		color: $blanco;
	}
}
.Pagina{
	width: 230px;
	height: 150px;
	margin-left: 9em;
    color: $negro;
    border-radius: 10px;
	background-color: $grisClaro;;
	h4{
		position: absolute;
    	margin-left: 10px;
	}
	h1{
		position: absolute;
		font-weight: 50px;
		margin-left: .3em;
		margin-top: 1.5em;
	}
	h5{
    	position: absolute;
    	width: 30%;
		margin-left: 12em;
		margin-top: 5em; 
    	color: $verde;
	}
	svg{
    	position: relative;
    	margin-top: 4.5em;
    	margin-left: 9em;
	}
	body.dark & {
		color: $blanco;
		background-color: $grisOscuro;
	}
}
.Likefa{
    width: 230px;
	height: 150px;
	margin-left: 1.5em;
    color: $negro;
    border-radius: 10px;
	background-color: $grisClaro;
	h4{
		position: absolute;
    	margin-left: 10px;
	}
	h1{
		position: absolute;
		font-weight: 50px;
		margin-left: .3em;
		margin-top: 1.5em;
	}
	h5{
    	position: absolute;
    	width: 30%;
		margin-left: 12em;
		margin-top: 5em; 
    	color: $verde;
	}
	svg{
    	position: relative;
    	margin-top: 4.5em;
    	margin-left: 9em;
	}
	body.dark & {
		color: $blanco;
		background-color: $grisOscuro;
	}
}
.Likein{
    width: 230px;
	height: 150px;
	margin-left: 1.5em;
    color: $negro;
    border-radius: 10px;
	background-color: $grisClaro;
	h4{
		position: absolute;
    	margin-left: 10px;
	}
	h1{
		position: absolute;
		font-weight: 50px;
		margin-left: .3em;
		margin-top: 1.5em;
	}
	h5{
    	position: absolute;
    	width: 30%;
		margin-left: 10.5em;
		margin-top: 5em; 
    	color: $verde;
	}
	svg{
    	position: relative;
    	margin-top: 4.5em;
    	margin-left: 8em;
	}
	body.dark & {
		color: $blanco;
		background-color: $grisOscuro;
	}
}
.Profile{
    width: 230px;
	height: 150px;
	margin-left: 1.5em;
    color: $negro;
    border-radius: 10px;
	background-color: $grisClaro;
	h4{
		position: absolute;
    	margin-left: 10px;
	}
	h1{
		position: absolute;
		font-weight: 50px;
		margin-left: .3em;
		margin-top: 1.5em;
	}
	h5{
    	position: absolute;
    	width: 30%;
		margin-left: 10.5em;
		margin-top: 5em; 
    	color: $verde;
	}
	svg{
    	position: relative;
    	margin-top: 4.5em;
    	margin-left: 8em;
	}
	body.dark & {
		color: $blanco;
		background-color: $grisOscuro;
	}
}
.Retweets{
    width: 230px;
	height: 150px;
	margin-left: 9em;
    color: $negro;
    border-radius: 10px;
	background-color: $grisClaro;
	h4{
		position: absolute;
    	margin-left: 10px;
	}
	h1{
		position: absolute;
		font-weight: 50px;
		margin-left: .3em;
		margin-top: 1.5em;
	}
	h5{
    	position: absolute;
    	width: 30%;
		margin-left: 11em;
		margin-top: 5em; 
    	color: $verde;
	}
	svg{
    	position: relative;
    	margin-top: 4.5em;
    	margin-left: 8.4em;
	}
	body.dark & {
		color: $blanco;
		background-color: $grisOscuro;
	}
}
.Liketw{
    width: 230px;
	height: 150px;
	margin-left: 1.5em;
    color: $negro;
    border-radius: 10px;
	background-color: $grisClaro;
	h4{
		position: absolute;
    	margin-left: 10px;
	}
	h1{
		position: absolute;
		font-weight: 50px;
		margin-left: .3em;
		margin-top: 1.5em;
	}
	h5{
    	position: absolute;
    	width: 30%;
		margin-left: 11em;
		margin-top: 5em; 
    	color: $verde;
	}
	svg{
    	position: relative;
    	margin-top: 4.5em;
    	margin-left: 8.4em;
	}
	body.dark & {
		color: $blanco;
		background-color: $grisOscuro;
	}
}
.Likeyou{
	width: 230px;
	height: 150px;
	margin-left: 1.5em;
    color: $negro;
    border-radius: 10px;
	background-color: $grisClaro;
	h4{
		position: absolute;
    	margin-left: 10px;
	}
	h1{
		position: absolute;
		font-weight: 50px;
		margin-left: .3em;
		margin-top: 1.5em;
	}
	h5{
    	position: absolute;
    	width: 30%;
		margin-left: 11.5em;
		margin-top: 5em; 
    	color: $verde;
	}
	svg{
    	position: relative;
    	margin-top: 4.5em;
    	margin-left: 8.8em;
	}
	body.dark & {
		color: $blanco;
		background-color: $grisOscuro;
	}
}
.Totalviews{
    width: 230px;
	height: 150px;
	margin-left: 1.5em;
    color: $negro;
    border-radius: 10px;
	background-color: $grisClaro;
	h4{
		position: absolute;
    	margin-left: 10px;
	}
	h1{
		position: absolute;
		font-weight: 50px;
		margin-left: .3em;
		margin-top: 1.5em;
	}
	h5{
    	position: absolute;
    	width: 30%;
		margin-left: 11.6em;
		margin-top: 5em; 
    	color: $verde;
	}
	svg{
    	position: relative;
    	margin-top: 4.5em;
    	margin-left: 9em;
	}
	body.dark & {
		color: $blanco;
		background-color: $grisOscuro;
	}
}
.switch {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #F1F1F1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
	}
	&.active{
		background: orange;
		color: black;
		&::after{
			right: 0;
			left: unset;
		}
	}
    span{
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }
}